@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <button type="submit">Save File</button>
    </form>
    
</div>
